* {
    box-sizing: border-box;
  }

html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

section {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}


.validation-summary {
    padding: 1em;
    border: 3px solid #df3034;
    background: #fae1e1;
}

.errors-badly-identified label {
    display: block;
    margin: 1em 0 1em 0;
}

.errors-colour-only .has-errors {
    background: #fae1e1;
    border: 1px solid #df3034;
}

.errors-badly-identified label input {
display: block;
}